*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header{
    background-color: dodgerblue;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
h3{
    font-weight: bold;
}

.lab{
    font-size: 40px;
}
.mensaje{
    color:dodgerblue;
    font-weight: bold;
    font-size:25px;
}

h2{
    color: dodgerblue;
    font-weight: bold;
    font-size: 25px;
}

.campo ul li{
    display: flex;
    width: 165px;
    height: 45px;
    margin: 8px;
    background-color: #74b9ff;
    border: 1px solid rgb(98, 98, 175);
    box-shadow: 2px 2px 4px rgba(0, 0,0, 0.3);
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.permiso li{
    display: flex;
    height: 20px;
    width: 170px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
}

.export{
    font-size: 20px;
}

@media(max-width:576px){
    .campo ul li{
    width: 100%;
    }


}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}


